.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccionBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btnOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;

    width: 10rem;
    height: 10rem;
    background-color: green;
}

.btnTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;

    width: 10rem;
    height: 10rem;
    background-color: red;
}

.cuadroGrande{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30rem;
    height: 30rem;
}